In [ ]:
# List is a collection of elements in specified order.
# lists are Ordered, Mutable and allow duplicates
# lists are Heterogeneous : A list can contain items of different data types (integers, strings, lists, etc.).

In [1]:
# Creating a list
l1=[]
l1
l2=list() #list is created with constructer
print(l1)
print(l2)

[]
[]

In [10]:
# finding length, type and id of the list
print(len(l1))
print(type(l1))
print(id(l1))

0
<class 'list'>
2232159303168

In [4]:
# adding elements or values to the list
# list allow all data type values       
l1=[1,2,3,6,54,7,8,9,7,5,6,8,7,4] # list of integers values
l2=[2.3,5.6,4.2,8.3,4.5] #list of floting values
l3=['one', 'two', "Three", '''Four''',"25",'36'] #list of string values
l4=[True, False, True] #list of bool values
l5=[1+2j,3+9j,8+12j] #list of complex values
l6=[10,True,56.3,"One",1+2j,20,89.3,56+5j,63.7,False,"three"] # list allow all data types in single list also
print(l1)
print(l2)
print(l3)
print(l4)
print(l5)
print(l6)

[1, 2, 3, 6, 54, 7, 8, 9, 7, 5, 6, 8, 7, 4]
[2.3, 5.6, 4.2, 8.3, 4.5]
['one', 'two', 'Three', 'Four', '25', '36']
[True, False, True]
[(1+2j), (3+9j), (8+12j)]
[10, True, 56.3, 'One', (1+2j), 20, 89.3, (56+5j), 63.7, False, 'three']

In [45]:
# list allow duplicate values
l7=[10,20,50,10,80,50,12,20,40,20,50,10] 
l7

[10, 20, 50, 10, 80, 50, 12, 20, 40, 20, 50, 10]

In [43]:
# Accesing elements by using index and nagative index
print(l7.index(80)) # here we are passing the value in list it gives the index position
print(l7[-1]) # print last element of the list
print(l7[-7]) # it is also nathing but right indexing the index starts from right to left (index start -1,-2,-3....)

4
10
50

In [42]:
#Sclising the list
#Single scling
print(l7[:]) # single sclising returns all values in list
print(l7[:5]) # index starts from 0 upto 4 index values displayed
print(l7[2:7]) #index starts from 2 to 6 index values displayed
print(l7[4:]) #index starts from 4 to last value
print(l7[:-1]) # returns all the values in the list
print(l7[-4:-1]) # starts from -4th index= 40 upto -2 (n-1=-1-1=-2) values printed (right index starts from -1)

[10, 20, 50, 10, 80, 50, 12, 20, 40, 20, 50, 10]
[10, 20, 50, 10, 80]
[50, 10, 80, 50, 12]
[80, 50, 12, 20, 40, 20, 50, 10]
[10, 20, 50, 10, 80, 50, 12, 20, 40, 20, 50]
[40, 20, 50]

In [53]:
#Duble Sclising
print(l7[::]) #print all values in the list
print(l7[::6]) # print the 0 index after that it prints every 6th index element
print(l7[2::3]) # Here 1st index 2 value is print after that 4th index of every element printed
print(l7[5::]) # here the 5th index to last index values are printed
print(l7[::-1]) # print the list in reverse order
print(l7[-8::-1]) # Here -8 to index to remaining values are printed up to 0 index
print(l7[7::-3]) # here the index 7th value printed after that the index back worded because it is nagative index
                 # [10, 20(3rd), 50, 10, 80(2nd it is -3), 50, 12, 20 (this print 1st), 40, 20, 50, 10]
print(l7[-8::3]) # [10, 20, 50, 10, 80 (1st prints), 50, 12, 20 (2nd), 40, 20, 50 (3rd) , 10]

[10, 20, 50, 10, 80, 50, 12, 20, 40, 20, 50, 10]
[10, 12]
[50, 50, 40, 10]
[50, 12, 20, 40, 20, 50, 10]
[10, 50, 20, 40, 20, 12, 50, 80, 10, 50, 20, 10]
[80, 10, 50, 20, 10]
[20, 80, 20]
[80, 20, 50]

In [57]:
#step counting
print(l7[0:5:2]) # here starting index is 0 and ending index is 5-1=4 every 2 indexed the value is displayed
print(l7[2:8:2]) # here starting index is 2 last index is 8-=7 every index is devided by 2
print(l7[3:-3:2])

[10, 50, 80]
[50, 80, 12]
[40]

In [ ]:
# Modifing lists

In [ ]:
# 1.changing the list value

In [13]:
# Indexing--changing the list value
l8=[10, True, 25.1, 'One', (1+2j), 20, 89.3, 10, 56.3, True, 'Four', (1+2j)]
l8[0]= 200 # here index of 0 value is changed (10 to 200)
l8

[200, True, 25.1, 'One', (1+2j), 20, 89.3, 10, 56.3, True, 'Four', (1+2j)]

In [86]:
# nested indexing also allowed listprint
lt1=[10,'nit',56,True]
print(lt1[1][0])
print(lt1[1][1])
print(lt1[1][2])
print(lt1[1][3]) # Index error : value out of range 4

n
i
t

In [87]:
# here 3 values are printed properly after that the index error comes
print(lt1[1][0])
print(lt1[1][1])
print(lt1[1][2])
print(lt1[1][3]) # Index error : value out of range 4

n
i
t

IndexError: string index out of range

In [ ]:
# here 3 values are not showed error is occured
print(lt1[1][3]) # Index error : value out of range 4 
print(lt1[1][0])
print(lt1[1][1])
print(lt1[1][2])

In [ ]:
# 2.Adding Elements to list

In [10]:
# adding elements to the list 
# append()---- fuction we can add single element or valueat once
# values are added in end of the list
l6.append(10)
l6.append(56.3)
l6.append(True)
l6.append("Four")
l6.append(1+2j)# we can add list in lits nathing but nested list 
print(l6)
#( Note append fuction treest adding list as a single value)
l6.append([1,2,3]) # here we are adding new list 
l6.append(l2) # here we are adding existing list
print(l6)

[10, True, 25.1, 'One', (1+2j), 20, 89.3, (56+5j), 63.7, False, 'three', 10, 56.3, True, 'Four', (1+2j), [1, 2, 3], [2.3, 5.6, 4.2, 8.3, 4.5], 10, 56.3, True, 'Four', (1+2j), [1, 2, 3], [2.3, 5.6, 4.2, 8.3, 4.5], 10, 56.3, True, 'Four', (1+2j)]
[10, True, 25.1, 'One', (1+2j), 20, 89.3, (56+5j), 63.7, False, 'three', 10, 56.3, True, 'Four', (1+2j), [1, 2, 3], [2.3, 5.6, 4.2, 8.3, 4.5], 10, 56.3, True, 'Four', (1+2j), [1, 2, 3], [2.3, 5.6, 4.2, 8.3, 4.5], 10, 56.3, True, 'Four', (1+2j), [1, 2, 3], [2.3, 5.6, 4.2, 8.3, 4.5]]

In [17]:
# Insert()---adding elements in specific index
# insert(index, value)
# by using insert method we can insert single value only
l8.insert(8, "abc")
l8.insert(1,10)
l8.insert(6,True)
l8

[200,
 10,
 True,
 25.1,
 'One',
 (1+2j),
 True,
 (1+2j),
 True,
 (1+2j),
 'abc',
 'abc',
 20,
 89.3,
 10,
 56.3,
 True,
 'Four',
 (1+2j)]

In [39]:
# extend()---- Adds all items from an iterable to the end.
li1=[10,50,65.2,78,10]
li1.extend(l2) # list is extended with existing list
print(li1)
li1.extend([1,2,3,4]) #list is extended with new list
print(li1)

[10, 50, 65.2, 78, 10, 2.3, 5.6, 4.2, 8.3, 4.5]
[10, 50, 65.2, 78, 10, 2.3, 5.6, 4.2, 8.3, 4.5, 1, 2, 3, 4]

In [ ]:
#3. Remove items

In [55]:
# pop() --- remove single element at a time

l2=[10, 50, 65.2, 10, 78, 2.3, 5.6,10, 4.2, 8.3, 4.5, 10, 1, 2, 3]
print(l2.pop() # if it is empty it removes last element of the list
l2.pop(2) # it removes the 10th index value
l2

[10, 50, 10, 78, 2.3, 5.6, 10, 4.2, 8.3, 4.5, 10, 1, 2]

In [58]:
# if the index is not there it shows index error
l2.pop(13)
l2

IndexError: pop index out of range

In [56]:
# remove()--- this method also used for remove single element
# you must assign any value
# duplicate values are it can delete 1st occurance of the value

l2.remove(10)
l2

[50, 10, 78, 2.3, 5.6, 10, 4.2, 8.3, 4.5, 10, 1, 2]

In [57]:
#if the value is not there it shows value error
l2.remove(100)
l2

ValueError: list.remove(x): x not in list

In [59]:
# Clear() --- is used clear all the elements in the list , the list empty list
l2.clear()
l2

[]

In [61]:
# deleting the list 
# after deleting when we call it can shows name error
del(l2)
l2

NameError: name 'l2' is not defined

In [ ]:
# 4 Opearations

In [63]:
# Concatinating the Two strings
l1=[1,2,3,6,54,7,]
l3=['one', 'two', "Three"]
l1+l3

[1, 2, 3, 6, 54, 7, 'one', 'two', 'Three']

In [64]:
# Repitation 
l1*3

[1, 2, 3, 6, 54, 7, 1, 2, 3, 6, 54, 7, 1, 2, 3, 6, 54, 7]

In [71]:
# membership testing
# in or not in
# valu in or not in list ex: 5 in li1 directly we can write if it is single calling
d=54 in l1        # 54 value is in the list (true it is there in list)
print(d)
a=89 not in l1    # 89 value not in the list ( true it is not there)
print(a)
b=10 in l1        # this is not there (False)
print(b)
c=6 not in l1     # This number is in the list (False)
print(c)

True
True
False
False

In [72]:
# Itterations
for i in l1:
    print(i)

1
2
3
6
54
7

In [75]:
for i in enumerate(l1):
    print(i)

(0, 1)
(1, 2)
(2, 3)
(3, 6)
(4, 54)
(5, 7)

In [ ]:
# 5 Built in functions

In [88]:
# length ---- number of elements in the list
len(l1)

6

In [89]:
# min ---- finding the smallest element or value in the list
min(l1)

1

In [90]:
#max --- finding the highest number in the list
max(l1)

54

In [91]:
# sum ---- Sum all the elements in the list
sum(l1)

73

In [95]:
# sort() --- sorting the elements ascending or descending order
# by default value is false
# **** PARAMETER TUNING ------ System parameters (default parameters)
# Hyper parameter tuning ------ User changes system parameters
#if the reverse = False it is ascending order
#if the reverse = True it is descending order
l1.sort()
print(l1)
l1.sort(reverse=True)
print(l1)

[1, 2, 3, 6, 7, 54]
[54, 7, 6, 3, 2, 1]

In [99]:
# Revese() ---- to revese the list
print(l1)
l1.reverse()
print(l1)

[54, 7, 6, 3, 2, 1]
[1, 2, 3, 6, 7, 54]