In [ ]:
# Set --- is unordered collection of unique elements
#Unordered: Sets do not keep elements in a specific order.
#Immutable Elements: Elements in a set must be immutable (e.g., numbers, strings, or tuples).
#Unique Elements: Duplicate values are automatically removed

In [5]:
# Creating a set
s1={} # Default set it represent Dictionary not set
s1
s2=set() # Set is created with constructer
print(s1)
print(s2)

{}
set()

In [15]:
# set with parameters
s1 = set()
s1 = {10, 5.6, "one", True, 1+2j}
print(s1)

{True, 'one', 5.6, (1+2j), 10}

In [4]:
# finding length, type and id of the list
print(len(s1))
print(type(s1))
print(type(s2))
print(id(s1))

0
<class 'dict'>
<class 'set'>
1576758684800

In [7]:
# Adding Element to the set
# add() --- to add a single element 
s2.add(10)
s2.add(20)
s2.add(30)
s2.add(40)
s2.add(10) # set is unique -- duplicate values are not ellowed
s2.add(20)  # set only store unique values
s2

{10, 20, 30, 40}

In [17]:
#ubdating --- set with multipule elements 
#Use .update() to add multiple elements from another iterable (like a list).
s1.update(s2)
s1 # s1 and s2 having 10, duplicates are not allow in set it should print only one 10

{(1+2j), 10, 20, 30, 40, 5.6, True, 'one'}

In [ ]:
#Removing Elements form set

In [25]:
# Remove() --- removes the specified element from the set.
# raises a KeyError if the element is not found.
s3= set()
s3={(1+2j), 10, 20, 30, 40, 5.6, True, 'one'}
s3.remove(10) # once the value is deleted when ever you call the program set it show that set only
print(s3)
s3.remove(89)
print(s3) # it shows an key error --- when the value is not there in the set

{True, 5.6, (1+2j), 40, 'one', 20, 30}

KeyError: 89

In [26]:
# discard() --- removes the specified element from the set.
# Does not raise an error if the element is not found in the set; it simply does nothing.
s3.discard(40)
s3.discard('one')
print(s3) # it discard the elements from the set
s3.discard(67) # if the element is not found in the set also not given error
print(s3)

{True, 5.6, (1+2j), 20, 30}
{True, 5.6, (1+2j), 20, 30}

In [36]:
# pop() removes and returns an arbitrary element.
# in sets pop methods canot give any value or index valuues (set is un ordered)
s1={100,20,52,86,10,76,20}
s1.pop() # This could be any element, as sets do not maintain order
se1= set()
se1.pop() # if the set is empty it can give key error

KeyError: 'pop from an empty set'

In [ ]:
# Set Operations for Mathematical Set Theory

In [37]:
# Union (| or .union()): Combines all unique elements from two sets
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1|s2

{1, 2, 3, 4, 5}

In [38]:
# Intersection (& or .intersection()): Finds elements common to both sets
s1&s2

{3}

In [44]:
# Difference (- or .difference()): Finds elements in one set but not the other.
s1.difference(s2)

{1, 2}

In [45]:
# Symmetric Difference (^ or .symmetric_difference()): Finds elements in either of the sets, but not both.
s1.symmetric_difference(s2)

{1, 2, 4, 5}

In [48]:
# Difference_update ---- here elements in one set but not the other and ubdate the set values
# when we call the that set it can give ubdates set only
s1.difference_update(s2)
print(s1) #ubdating the s1 set values

{1, 2}

In [50]:
# Symmetric Difference (^ or .symmetric_difference()): Finds elements in either of the sets, but not both. ubdate the set values
# when we call the that set it can give ubdates set only
s1 = {1, 2, 3}
s2 = {3, 4, 5}
s1.symmetric_difference_update(s2)
print(s1) #ubdating the s1 set values

{1, 2, 4, 5}

In [52]:
# Subset and Superset Operations

In [56]:
# Subset (<= or .issubset()): Checks if all elements of one set are in another set
# Returns True if all elements of the set are in the other set (set subset).
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issubset(s2))

s3 = {1, 2}
s4 = {1, 2, 3, 4}
print(s3.issubset(s4))

False
True

In [ ]:
# Subset (<= or .issuperset()): Checks if one set contains all elements of another set.
# Returns True if the set contains all elements of the other set (set superset).
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issubset(s2))

s3 = {1, 2}
s4 = {1, 2, 3, 4}
print(s3.issubset(s4))

In [59]:
# Superset (>= or .issuperset()): Checks if one set contains all elements of another set
# Returns True if the set contains all elements of the other set (set superset).
s1 = {1, 2, 3}
s2 = {3, 4, 5}
print(s1.issuperset(s2))

s3 = {1, 2, 3, 4}
s4 = {1, 2}
print(s3.issuperset(s4))

False
True

In [61]:
# .isdisjoint(): Checks if two sets have no elements in common
s1 = {1, 2}
s2 = {3, 4, 5}
s1.isdisjoint(s2)

True

In [69]:
# .copy(): Returns a shallow copy of the set.
# this means it can shows copy set elements only before elements are vanished
s3 = {10,20,30}
s4 = {3, 4, 5}
s4= s3.copy()
s4

{10, 20, 30}

In [70]:
#.clear(): Removes all elements from the set.
s1 = {1, 2}
s2 = {3, 4, 5}
s1.clear()
s1

set()

In [ ]:
# Set Comprehension