In [ ]:
# Tuple is ordered collection of elements 
#it is immutable
#but tuple can allow duplicate values

In [3]:
#creating empty list
t1=()
print(t1)
t2= tuple()
print(t2)

()
()

In [6]:
# finding length, type and id of the Tuple
print(len(t1))
print(type(t1))
print(id(t1))

0
<class 'tuple'>
140704590349344

In [13]:
# adding elements or values to the list
# we can give elements directli
t1=(10,20,50,3,0,20,1,4,0,4,3,10, 60)
t1

(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60)

In [14]:
# Accesing elements by using index and nagative index
print(t1[0])
t1[-1]

10

60

In [16]:
#Sclising the list
#Single scling
print(t1[:]) # single sclising returns all values in list
print(t1[:5]) # index starts from 0 upto 4 index values displayed
print(t1[2:7]) #index starts from 2 to 6 index values displayed
print(t1[4:]) #index starts from 4 to last value
print(t1[:-1]) # returns all the values in the list
print(t1[-4:-1]) # starts from -4th index= 40 upto -2 (n-1=-1-1=-2) values printed (right index starts from -1)

(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60)
(10, 20, 50, 3, 0)
(50, 3, 0, 20, 1)
(0, 20, 1, 4, 0, 4, 3, 10, 60)
(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10)
(4, 3, 10)

In [17]:
#Double scling
print(t1[:]) # single sclising returns all values in list
print(t1[:5]) # index starts from 0 upto 4 index values displayed
print(t1[2:7]) #index starts from 2 to 6 index values displayed
print(t1[4:]) #index starts from 4 to last value
print(t1[:-1]) # returns all the values in the list
print(t1[-4:-1]) # starts from -4th index= 40 upto -2 (n-1=-1-1=-2) values printed (right index starts from -1)

(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60)
(10, 20, 50, 3, 0)
(50, 3, 0, 20, 1)
(0, 20, 1, 4, 0, 4, 3, 10, 60)
(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10)
(4, 3, 10)

In [18]:
#step counting
print(t1[0:5:2]) # here starting index is 0 and ending index is 5-1=4 every 2 indexed the value is displayed
print(t1[2:8:2]) # here starting index is 2 last index is 8-=7 every index is devided by 2
print(t1[3:-3:2])

(10, 50, 0)
(50, 0, 1)
(3, 20, 4, 4)

In [ ]:
# Modifing lists

In [ ]:
# 1.changing the list value

In [19]:
# Indexing--changing the list value 
# tuple is imutable, it can not allow indexing
t1[0]= 200 # here index of 0 value is changed (10 to 200) 
t1

TypeError: 'tuple' object does not support item assignment

In [ ]:
# 2.Adding Elements to list
# tuple can not allow to add elements because it is immutable

In [ ]:
# Concatenating and Repeating Tuples

In [48]:
# Tuples can be concatenated
t2=(5.6, 7.8, "One", "Two", True, 1+2j) # tuple ellow all data type value 
print(t1+t2)
t1+=(4,5) # concatenating the table it self using += operator
print(t1)
# tuple convert to a list and add elements and covert to a tuple
l1=[]
l1=list(t2)
l1.append(50)
t3=tuple()
t3=tuple(l1)
print(t3)

(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 5.6, 7.8, 'One', 'Two', True, (1+2j))
(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5, 4, 5)
(5.6, 7.8, 'One', 'Two', True, (1+2j), 50)

In [23]:
# repitation
print(t1*3)

(10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60, 10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60, 10, 20, 50, 3, 0, 20, 1, 4, 0, 4, 3, 10, 60)

In [25]:
# Itterations
for i in t1:
    print(i)

10
20
50
3
0
20
1
4
0
4
3
10
60

In [27]:
for i in enumerate(t1):
    print(i)

(0, 10)
(1, 20)
(2, 50)
(3, 3)
(4, 0)
(5, 20)
(6, 1)
(7, 4)
(8, 0)
(9, 4)
(10, 3)
(11, 10)
(12, 60)

In [ ]:
# 5 Built in functions

In [28]:
# count
t1.count(10)

2

In [33]:
# index
t1.index(0) # if tuple had duplicate values then index gives 1st iteration value index

4

In [35]:
min(t1)

0

In [37]:
max(t1)

60

In [38]:
len(t1)

13

In [39]:
sum(t1)

185

In [40]:
# membership testing
# in or not in
# valu in or not in Tuple ex: 5 in li1 directly we can write if it is single calling
d=10 in t1        # 54 value is in the list (true it is there in list)
print(d)
a=82 not in t1    # 89 value not in the list ( true it is not there)
print(a)
b=99 in t1        # this is not there (False)
print(b)
c=23 not in t1     # This number is in the list (False)
print(c)

True
True
False
True

In [49]:
# nested indexing also allowed listprint
t1=(10,'nit',56,True)
print(t1[1][0])
print(t1[1][1])
print(t1[1][2])
print(t1[1][3]) # Index error : value out of range 4

n
i
t

IndexError: string index out of range

In [59]:
# Unpacking the tuple into variables
t2= (10,20,30)
a,b,c=t2
print(a)
print(b)
print(c)

10
20
30

In [63]:
#Tuple Unpacking with Extra Elements
t3=(10,20,30,40,50,60)
a,b,*res=t3
print(a)
print(b)
print(*res)

10
20
30 40 50 60